<a href="https://colab.research.google.com/github/sushily1997/python_Basics/blob/main/10_Python_Basics_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

֍ If a group of statements is repeatedly required then it is not recommended to write
these statements everytime seperately.We have to define these statements as a single
unit and we can call that unit any number of times based on our requirement without
rewriting. This unit is nothing but function.

֍ The main advantage of functions is code Reusability.

֍ Python supports two types of functions:
1. Built-in function
2. User defined function

1. Built in Functions:

  The functions which are coming along with Python software automatically, are called
 built in functions or pre defined functions.

 e.g. id(), type(), input(),eval()

 2. User defined function:

  The functions which are developed by programmer explicitly according to business
 requirements, are called user defined functions.

 **Syntax:**

 def function_name(parameters):

     ''' doc string'''

     python code

     return value

In [ ]:
def wish():
  print("Hello Good Morning")
  wish()

# Parameters
Parameters are inputs to the function. If a function contains parameters, then at the time
of calling,compulsory we should provide values otherwise,otherwise we will get error.

Eg: Write a function to take name of the student as input and print wish message by
name.

In [ ]:
def ss(name):
  print("Hello",name," Good Morning")

In [ ]:
ss("jayesh")

Hello jayesh  Good Morning

In [ ]:
# Eg: Write a function to take number as input and print its square value
def sqt(number):
  print(number*number)

In [ ]:
sqt(4.7)

22.090000000000003

In [ ]:
sqt(3+2)

25

In [ ]:
sqt(23*6)

19044

#  Return Statement:
  Function can take input values as parameters and executes business logic, and returns
 output to the caller with return statement.

  Q) Write a Function to accept 2 Numbers as Input and
  return Sum

In [ ]:
def add(a,b,d,e):
    return a-b+d+e

In [ ]:
add(6,7,6,9)

14

In [ ]:
add(5,4,19,5)

25

In [ ]:
 """Q) Write a Function to check whether the given Number is
  Even OR Odd?"""

def even_odd(n):
   if n%2==0:
     print(n,"is Even Number")
   else:
     print(n,"is Odd Number")

In [ ]:
even_odd(7)

7 is Odd Number

In [ ]:
even_odd(6)

6 is Even Number

In [ ]:
even_odd(1379)

1379 is Odd Number

In [2]:
"Q) Write a Function to find Factorial of given Number?"

def fact(num):
    result=1
    while num>=1:
      result=result*num
      num=num-1
    return result

In [3]:
for i in range(0,15):
   print("The Factorial of",i,"is :",fact(i))

The Factorial of 0 is : 1
The Factorial of 1 is : 1
The Factorial of 2 is : 2
The Factorial of 3 is : 6
The Factorial of 4 is : 24
The Factorial of 5 is : 120
The Factorial of 6 is : 720
The Factorial of 7 is : 5040
The Factorial of 8 is : 40320
The Factorial of 9 is : 362880
The Factorial of 10 is : 3628800
The Factorial of 11 is : 39916800
The Factorial of 12 is : 479001600
The Factorial of 13 is : 6227020800
The Factorial of 14 is : 87178291200

In [11]:
for i in range(17,7,-1):
  print("The Factorial of",i,"is:",fact(i))

The Factorial of 17 is: 355687428096000
The Factorial of 16 is: 20922789888000
The Factorial of 15 is: 1307674368000
The Factorial of 14 is: 87178291200
The Factorial of 13 is: 6227020800
The Factorial of 12 is: 479001600
The Factorial of 11 is: 39916800
The Factorial of 10 is: 3628800
The Factorial of 9 is: 362880
The Factorial of 8 is: 40320


# Returning Multiple Values from a Function:

In [ ]:
def sum_sub(a,b,c):
    sum=a+b-c
    sub=a-b+c
    return sum,sub

In [ ]:
x,y=sum_sub(100,50,27)
print("The Value is:",x)
print("The Value is:",y)

The Value is: 123
The Value is: 77

In [ ]:
sum_sub(10,24,50)

(-16, 36)

# Types of Arguments

 def f1(a,b):

  

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

 There are 4 types are actual arguments are allowed in Python.

1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable length arguments

## 1. Positional Arguments

 These are the arguments passed to function in correct positional order.

 def sub(a, b):

 print(a-b)

 sub(100, 200) 
 
 sub(200, 100)
 
 The number of arguments and position of arguments must be matched. If we change
 the order then result may be changed.

In [ ]:
def add(a,b,c):
  return(a+b+c)

In [ ]:
print(add(15,c=24,b=37))

76

## 2. Keyword Arguments:

We can pass argument values by keyword i.e by parameter name.

In [ ]:
def student(firstname,lastname):
    print("Best",firstname,lastname)

In [ ]:
student(firstname="python",lastname="practice")
student(lastname="practice",firstname="python")

Best python practice
Best python practice

In [ ]:
#position changed. Still working
student(lastname="practice",firstname="Python Function")

Best Python Function practice

In [ ]:
def details(id,name):
  print("Emp id is:",id)
  print("Emp ne is:",name)

In [ ]:
details(id=1,name="Mayur")
details(id=2,name="varun")

Emp id is: 1
Emp ne is: Mayur
Emp id is: 2
Emp ne is: varun

# 3. Default Arguments:

Sometimes we can provide default values for our positional arguments.

In [ ]:
def wish(name="Guest"):
    print("Hello",name,"Good Morning")

In [ ]:
wish("Satish")

Hello Satish Good Morning

In [ ]:
wish()

Hello Guest Good Morning

In [ ]:
def greetings(name,msg="Welcom,Good Morning"):
  message= "Hello {}!{}".format(name,msg)
  print(message)

In [ ]:
greetings("Ravi")

Hello Ravi!Welcom,Good Morning

In [ ]:
def cart(item,price=20):
  print(item,"cost is :",price)

In [ ]:
cart(item='book')
cart(item='bag',price=1000)
cart(price=550,item='pant')

book cost is : 20
bag cost is : 1000
pant cost is : 550

## 4. Variable Length Arguments:

Sometimes we can pass variable number of arguments to our function, such type of
arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [ ]:
def sum(*n):
    total=0
    for n1 in n:
      total=total+n1
    print("The Sum=",total)

In [ ]:
sum()

The Sum= 0

In [ ]:
sum(10)

The Sum= 10

In [ ]:
sum(10,2,6,20)

The Sum= 38

In [ ]:
sum(10,20,3.7,40)

The Sum= 73.7

In [ ]:
# We can mix variable length arguments with positional arguments.

def f1(a,b,c,*s):
    print(a,b,c)
    for s1 in s:
      print(s1)

In [ ]:
f1(1,3,40)

1 3 40

In [ ]:
f1(10,20,30,40)

10 20 30
40

In [ ]:
f1(10,"A",30,"B")

10 A 30
B

 Note: After variable length argument,if we are taking any other arguments then we
  should provide values as keyword arguments.

In [ ]:
def f1(*s,n1):
    for s1 in s:
      print(s1)
    print(n1)

f1("A","B",10,20,n1=30)

A
B
10
20
30

In [ ]:
f1("my","name","sushil",n1=1997)

my
name
sushil
1997

### Note: We can declare key word variable length arguments also.

 We can call this function by passing any number of keyword arguments. Internally
 these keyword arguments will be stored inside a dictionary.

In [ ]:
def display(**kwargs):
    for k,v in kwargs.items():
       print(k,"=",v)

In [ ]:
display(n1=10,n2=20,n3=30)

n1 = 10
n2 = 20
n3 = 30

In [ ]:
display(Rno=100,name="Rahul",marks=80,subject="python")

Rno = 100
name = Rahul
marks = 80
subject = python

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

In [ ]:
print_kwargs(id=1,name="umesh",qualification="MBA")

{'id': 1, 'name': 'umesh', 'qualification': 'MBA'}

 ### Note: Function vs Module vs Library
  A group of lines with some name is called a function

 A group of functions saved to a file, is called Module
 
 A group of Modules is nothing but Library

#  Types of Variables
  Python supports 2 types of variables.
1. Global Variables
2. Local Variables

In [ ]:
a=10 # global variable(defined outside the function)
def f1():
   print(a)

def f2():
    print(a)

f1()
f2()

10
10

2. Local Variables:

  The variables which are declared inside a function are called local variables.

 Local variables are available only for the function in which we declared it.

In [ ]:
def f1():
    a=10
    print(a) # valid

In [ ]:
f1()

10

In [ ]:
# We didn't
def f22():
    b= "I love india"
    print(b) #invalid

f22()

I love india

In [ ]:
b="I love pune"
f22()
print(b)

I love india
I love pune

In [ ]:
"""Note: If global variable and local variable having the same name then we can access
  global variable inside a function as follows"""

a = 10#Global Variable
def f1():
    a=777 # Local Variable
    print(a)
    print(globals()['a'])
f1()

777
10

In [ ]:
def foo(x,y):
  global a
  a=41
  x,y=y,x
  b=22
  b=35
  c=73
  print(a,b,x,y)

In [ ]:
a,b,x,y=1,15,3,4
foo(17,4) 
print(a,b,x,y)

41 35 4 17
41 15 3 4

#  Recursive Function:

A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:
1. 
We can reduce length of the code and improves readability.
2. We can solve complex problems very easily.

E.g.

 factorial(3) = 3 * factorial(2)

 = 3 * 2 * factorial(1)

 =3*2*1*factorial(0)

 =3*2*1*1

 =6

 factorial(n) = n * factorial(n-1)

In [ ]:
'''Write a Python Function to find Factorial of given
  Number with Recursion'''

def factorial(n):
    if n==0:
      result=1
    else:
      result=n*factorial(n-1)
    return result
print("Factorial of 4 is:",factorial(4))
print("Factorial of 5 is:",factorial(5))

Factorial of 4 is: 24
Factorial of 5 is: 120

In [ ]:
def factorial(x): #This is a recursive function to fond the factorial of an integer.
  if x==1:
    return 1
  else:
    return (x*factorial(x-1))
num =3
print("THE factorial of" , num,"is",factorial(num))

THE factorial of 3 is 6