<a href="https://colab.research.google.com/github/sushily1997/python_Basics/blob/main/12_Python_Basics_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively. 

It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library.

Pandas is fast and it has high performance & productivity for users.

Pandas generally provide two data structures for manipulating data, They are: 

1. Series

2. DataFrame

1. Series:

Pandas Series is a one-dimensional labelled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet.

In [ ]:
import pandas as pd
import numpy as np


# Creating empty series
ser = pd.Series()

print(ser)

# simple array
data = np.array(['M', 'a', 'h', 'a', 'r','a','s','t','r','a'])

ser = pd.Series(data)
print(ser)

Series([], dtype: float64)
0    M
1    a
2    h
3    a
4    r
5    a
6    s
7    t
8    r
9    a
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

2. DataFrame

Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

![image.png]()

In [ ]:
import pandas as pd

# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

# list of strings
lst = ['learning', 'data', 'science', 'is',
			'easy']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
          0
0  learning
1      data
2   science
3        is
4      easy

# Creating DataFrame from dict of ndarray/lists: 

To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialise data of lists.
data = {'Name':['om','rupesh','mayur','raghav'], 'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

     Name  Age
0      om   20
1  rupesh   21
2   mayur   19
3  raghav   18

# Create pandas dataframe from lists using dictionary: 

Creating pandas data-frame from lists using dictionary can be achieved in different ways. We can create pandas dataframe from lists using dictionary using pandas.DataFrame. With this method in Pandas we can transform a dictionary of list to a dataframe.

In [ ]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["harry", "rohan", "skillf", "shubh"],
		'city': ["pune", "mumbai", "aurangabad", "nanded"],
		'marks':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

     name        city  marks
0   harry        pune     90
1   rohan      mumbai     40
2  skillf  aurangabad     80
3   shubh      nanded     98

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# Read CSV File

1. Click on three horizontal lines of left side of colab notebook.

2. Click on "Mount drive" symbol.
3. You will see the drive folder. Click on drive folder.
4. Click on MyDrive folder.
5. Find the csv file saved on your drive.
6. Click on three verticle dots on right side of the .csv file.
7. copy path of the nba.csv file
8. provide that path into code to access the file

In [ ]:
# importing pandas module
import pandas as pd

# making data frame
data = pd.read_csv("/content/drive/MyDrive/nba.csv")

# calling head() method
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
# Viewing bottom rows
data.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [ ]:
data.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.tail(15)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Alternative method to connect to drive and load the data
from google.colab import drive
drive.mount('/content/drive')



data = pd.read_csv("/content/drive/MyDrive/nba.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data.loc()

In [ ]:
# Creating a series by using single column
# creating series
series = data['College']
series

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
453               Butler
454                  NaN
455                  NaN
456               Kansas
457                  NaN
Name: College, Length: 458, dtype: object

In [ ]:
print(data.sample)

<bound method NDFrame.sample of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [ ]:
data.sample()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [ ]:
data.sample(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
219,Khris Middleton,Milwaukee Bucks,22.0,SG,24.0,6-8,234.0,Texas A&M,14700000.0
343,Udonis Haslem,Miami Heat,40.0,PF,36.0,6-8,235.0,Florida,2854940.0
112,Marcelo Huertas,Los Angeles Lakers,9.0,PG,33.0,6-3,200.0,NaN,525093.0
357,Mario Hezonja,Orlando Magic,23.0,SG,21.0,6-8,218.0,NaN,3741480.0

# .info()

In [ ]:
# info method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

# .describe()

Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values. When this method is applied to a series of string, it returns a different output which is shown in the examples below.

In [ ]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

# Dealing with Rows and Columns in Pandas DataFrame:

1. Column Selection:

In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [ ]:
# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['om', 'mayur', 'Ganga', 'Arjun'],
		'Age':[27, 24, 22, 32],
		'Address':['mumbai', 'nizamabad', 'pune', 'nanded'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select two columns
print(df[['Name', 'Age']])

    Name  Age
0     om   27
1  mayur   24
2  Ganga   22
3  Arjun   32

2. Column Addition:
In Order to add a column in Pandas DataFrame, we can declare a new list as a column and add to a existing Dataframe.

In [ ]:
# Import pandas package
import pandas as pd

# Define a dictionary containing Students data
data = {'Name': ['om', 'mayur', 'Ganga', 'Arjun'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Declare a list that is to be converted into a column
address = ['mumbai', 'nizamabad', 'pune', 'nanded']

# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address

# Observe the result
print(df)

    Name  Height Qualification    Address
0     om     5.1           Msc     mumbai
1  mayur     6.2            MA  nizamabad
2  Ganga     5.1           Msc       pune
3  Arjun     5.2           Msc     nanded

3. Column Deletion:
In Order to delete a column in Pandas DataFrame, we can use the drop() method. Columns is deleted by dropping columns with column names.

In [ ]:
# importing pandas module
import pandas as pd

# dropping passed columns
data = pd.read_csv("/content/drive/MyDrive/nba.csv")


data.drop(["Team", "Weight"], axis = 1)

# display
print(data)
'''As shown in the output images, the new output doesn’t have the passed columns. 
Those values were dropped since axis was set equal to 1 and the changes were made in the original data frame since inplace was True.'''

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

'As shown in the output images, the new output doesn’t have the passed columns. \nThose values were dropped since axis was set equal to 1 and the changes were made in the original data frame since inplace was True.'

In [ ]:
data.drop(['Position','Weight'],axis = 1,inplace=True)
print(data)

              Name            Team  Number   Age Height            College  \
0    Avery Bradley  Boston Celtics     0.0  25.0    6-2              Texas
1      Jae Crowder  Boston Celtics    99.0  25.0    6-6          Marquette
2     John Holland  Boston Celtics    30.0  27.0    6-5  Boston University
3      R.J. Hunter  Boston Celtics    28.0  22.0    6-5      Georgia State
4    Jonas Jerebko  Boston Celtics     8.0  29.0   6-10                NaN
..             ...             ...     ...   ...    ...                ...
453   Shelvin Mack       Utah Jazz     8.0  26.0    6-3             Butler
454      Raul Neto       Utah Jazz    25.0  24.0    6-1                NaN
455   Tibor Pleiss       Utah Jazz    21.0  26.0    7-3                NaN
456    Jeff Withey       Utah Jazz    24.0  26.0    7-0             Kansas
457            NaN             NaN     NaN   NaN    NaN                NaN

        Salary
0    7730337.0
1    6796117.0
2          NaN
3    1148640.0
4    5000000.0
..         ...
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN

[458 rows x 7 columns]

# Dealing with Rows:
In order to deal with rows, we can perform basic operations on rows like selecting, deleting, adding and renaming.

Row Selection:

Pandas provide a unique method to retrieve rows from a Data frame.DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. Rows can also be selected by passing integer location to an iloc[] function.

In [ ]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("/content/drive/MyDrive/nba.csv",index_col ="Position")

# retrieving row by loc method
first = data.loc["PG"]
second = data.loc["SF"]


print(first, "\n\n\n", second)

                   Name                    Team  Number   Age Height  Weight  \
Position
PG        Avery Bradley          Boston Celtics     0.0  25.0    6-2   180.0
PG         Terry Rozier          Boston Celtics    12.0  22.0    6-2   190.0
PG         Marcus Smart          Boston Celtics    36.0  22.0    6-4   220.0
PG        Isaiah Thomas          Boston Celtics     4.0  27.0    5-9   185.0
PG         Jarrett Jack           Brooklyn Nets     2.0  32.0    6-3   200.0
...                 ...                     ...     ...   ...    ...     ...
PG        Brian Roberts  Portland Trail Blazers     2.0  30.0    6-1   173.0
PG           Trey Burke               Utah Jazz     3.0  23.0    6-1   191.0
PG           Dante Exum               Utah Jazz    11.0  20.0    6-6   190.0
PG         Shelvin Mack               Utah Jazz     8.0  26.0    6-3   203.0
PG            Raul Neto               Utah Jazz    25.0  24.0    6-1   179.0

                 College     Salary
Position
PG                 Texas  7730337.0
PG            Louisville  1824360.0
PG        Oklahoma State  3431040.0
PG            Washington  6912869.0
PG          Georgia Tech  6300000.0
...                  ...        ...
PG                Dayton  2854940.0
PG              Michigan  2658240.0
PG                   NaN  3777720.0
PG                Butler  2433333.0
PG                   NaN   900000.0

[92 rows x 8 columns]


                             Name                    Team  Number   Age Height  \
Position
SF                   Jae Crowder          Boston Celtics    99.0  25.0    6-6
SF        Thanasis Antetokounmpo         New York Knicks    43.0  23.0    6-7
SF               Carmelo Anthony         New York Knicks     7.0  32.0    6-8
SF              Cleanthony Early         New York Knicks    11.0  25.0    6-8
SF                  Lance Thomas         New York Knicks    42.0  28.0    6-8
...                          ...                     ...     ...   ...    ...
SF               Al-Farouq Aminu  Portland Trail Blazers     8.0  25.0    6-9
SF              Maurice Harkless  Portland Trail Blazers     4.0  23.0    6-9
SF                Gordon Hayward               Utah Jazz    20.0  26.0    6-8
SF                    Joe Ingles               Utah Jazz     2.0  28.0    6-8
SF                 Chris Johnson               Utah Jazz    23.0  26.0    6-6

          Weight        College      Salary
Position
SF         235.0      Marquette   6796117.0
SF         205.0            NaN     30888.0
SF         240.0       Syracuse  22875000.0
SF         210.0  Wichita State    845059.0
SF         235.0           Duke   1636842.0
...          ...            ...         ...
SF         215.0    Wake Forest   8042895.0
SF         215.0     St. John's   2894059.0
SF         226.0         Butler  15409570.0
SF         226.0            NaN   2050000.0
SF         206.0         Dayton    981348.0

[85 rows x 8 columns]

Row Addition:

In Order to add a Row in Pandas DataFrame, we can concat the old dataframe with new one.

In [ ]:
# importing pandas module
import pandas as pd
	
# making data frame
data = pd.read_csv("/content/drive/MyDrive/nba.csv",index_col ="Name")



print(df.head(10))

new_row = pd.DataFrame({'Name':'Geeks', 'Team':'Boston', 'Number':3,
						'Position':'PG', 'Age':33, 'Height':'6-2',
						'Weight':189, 'College':'MIT', 'Salary':99999},
															index =[0])
# simply concatenate both dataframes
df = pd.concat([new_row, df]).reset_index(drop = True)
df.head(5)

     name        city  marks
0   harry        pune     90
1   rohan      mumbai     40
2  skillf  aurangabad     80
3   shubh      nanded     98

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,name,city,marks
0,Geeks,Boston,3.0,PG,33.0,6-2,189.0,MIT,99999.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,harry,pune,90.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rohan,mumbai,40.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,skillf,aurangabad,80.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shubh,nanded,98.0

Row Deletion:

In Order to delete a row in Pandas DataFrame, we can use the drop() method. Rows is deleted by dropping Rows by index label.

In [ ]:
from pandas.core.frame import DataFrame
# importing pandas module
import pandas as pd

# making data frame from csv file
df = pd.read_csv("/content/drive/MyDrive/nba.csv",index_col ="Name")

# dropping passed values
data.drop(["Avery Bradley", "John Holland", "R.J. Hunter","R.J. Hunter"], inplace = True)

# display
print(df)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

In [ ]:
data.drop([453,1,456,457])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
...,...,...,...,...,...,...,...,...,...
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [ ]:
##Read Headers
print(df.columns)

Index(['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College',
       'Salary'],
      dtype='object')

In [ ]:
##Read each Column
print(df['Team'][0:5])

Name
Avery Bradley    Boston Celtics
Jae Crowder      Boston Celtics
John Holland     Boston Celtics
R.J. Hunter      Boston Celtics
Jonas Jerebko    Boston Celtics
Name: Team, dtype: object

In [ ]:
print(df[['Team','College','Salary']])

                         Team            College     Salary
Name
Avery Bradley  Boston Celtics              Texas  7730337.0
Jae Crowder    Boston Celtics          Marquette  6796117.0
John Holland   Boston Celtics  Boston University        NaN
R.J. Hunter    Boston Celtics      Georgia State  1148640.0
Jonas Jerebko  Boston Celtics                NaN  5000000.0
...                       ...                ...        ...
Shelvin Mack        Utah Jazz             Butler  2433333.0
Raul Neto           Utah Jazz                NaN   900000.0
Tibor Pleiss        Utah Jazz                NaN  2900000.0
Jeff Withey         Utah Jazz             Kansas   947276.0
NaN                       NaN                NaN        NaN

[458 rows x 3 columns]

In [ ]:
##Read Each Row
print(df.head(4))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0

In [ ]:
##Rrad a specific location (R,C)
print(df.iloc[2,1])

30.0

In [ ]:
x=pd.Series(DataFrame)
print(x)

0    <class 'pandas.core.frame.DataFrame'>
dtype: object

In [ ]:
df.loc[df['Position']=='PG']

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
...,...,...,...,...,...,...,...,...
Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0