<a href="https://colab.research.google.com/github/sushily1997/python_Basics/blob/main/8_Python_Basics_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SET - Data Structure

1. If we want to represent a group of unique values as a single entity then we should go
for set.
2. Duplicates are not allowed.
3. Insertion order is not preserved.But we can sort the elements.
4. Indexing and slicing not allowed for the set.
5. Heterogeneous elements are allowed.
6. Set objects are mutable i.e once we creates set object we can perform any changes in
that object based on our requirement.
7. We can represent set elements within curly braces and with comma seperation
8. We can apply mathematical operations like union, intersection, difference etc on set
objects.

In [ ]:
s=set()
print(type(s))
s_from_list= set([1,2,3,4,5])
print(s_from_list)
print (type(s_from_list))

<class 'set'>
{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
s={10,20,30,40,'a','Connor',(1,2,3)}
print(s)
print(type(s))

{'a', 40, 10, (1, 2, 3), 20, 'Connor', 30}
<class 'set'>

In [ ]:
#We can create set objects by using set() Function s = set(any sequence)
l=[1,2,4,3,5,1,3,6,4,6,4,5]
s=set(l)
print(s)#{1,2,3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [1]:
s=set(range(9))
print(s)#{0,1,2,3,4}

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s=set(range(-3))
print(s) #When we take the range in minus then outgoing will get empty set

set()

# Important Functions of Set:

In [ ]:
# 1) add(x): add item x to the set
s={10,20,30}
s.add(40);
s.add(40);
print(s)#{40,10,20,30}

{40, 10, 20, 30}

In [2]:
# 2)  update(x,y,z): add multiple items to the set
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(9))
s.update(("man","cat"))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 40, 8, 10, 50, 'cat', 20, 'man', 60, 30}

Q) What is the difference between add() and update()
Functions in Set?

We can use add() to add individual item to the Set,where as we can use update()
function to add multiple items to Set.

add() function can take only one argument where as update() function can take any number of arguments.

In [3]:
#3. copy(): returns copy of the set(cloning)
s={1,2,3,4,('a','b','c')}
s1=s.copy()
print(s1)

{1, 2, 3, 4, ('a', 'b', 'c')}

In [ ]:
#4. pop(): It removes and returns some random element from the set
s={40,10,30,20,1,'a','c'}
print(s)
print(s.pop())
print(s)

{1, 'a', 40, 10, 20, 'c', 30}
1
{'a', 40, 10, 20, 'c', 30}

In [ ]:
#5. remove(x):removes specified item from the set
s={1,2,3,4,3,4,3,3,5}
s.remove(3)
print(s)

{1, 2, 4, 5}

In [ ]:
#6.  discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error
s={40,10,30,20}
s.discard(50)#no error raised even though '50' is not present in the set
print(s)

{40, 10, 20, 30}

In [ ]:
#7. clear(): to remove all the elements from the set
s={1,2,3,4,5,6,7,(1,3,5,7)}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5, 6, 7, (1, 3, 5, 7)}
set()

# **IMPORTANT CONCEPTS**

# Mathematical Operations on the Set:

In [ ]:
#1. union(): 
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))#{10,20,30,40,50,60}
print (x|y)#{10, 20, 30, 40, 50, 60}

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [ ]:
x1={1,2,3,4,5,6}
y1={4,5,6,7,8,9}
x1.update(y1)
print(x1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))#{40,30}
print(x&y)#{40, 30}
x &=y#{30,40}
x

{40, 30}
{40, 30}

{30, 40}

In [ ]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))#10, 20
print(x-y)#{10, 20}
print(y-x)#{50, 60}
x -= set((20,30))#{10,40}
print(x)

{10, 20}
{10, 20}
{50, 60}
{40, 10}

In [ ]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))#{10,50,20,60}
print(x^y)#{10, 50, 20, 60}

{10, 50, 20, 60}
{10, 50, 20, 60}

In [ ]:
#5. isdisjoint()
s1= {1,2 ,33,4}
print(s.isdisjoint(s1))

True

In [ ]:
#6 Frozen set
# The frozenset datatype has all the methods of a set
# (such as difference(),symmetrc_difference,and union)but because it is immutable
#it doesen't have methods to add/remove elements.
a=frozenset((1,2,3,4))
b=frozenset((3,4,5,6))
a.issubset(b)
#a.update(b) # raises an error traceback(most receny call last)
#AttributeError: 'frozenset' object has no attribut 'update'

False

In [ ]:
a=frozenset((1,2,3,4))
b=frozenset(('w','x','y','z'))
d={a:"hello",b:"world"}
d

{frozenset({1, 2, 3, 4}): 'hello', frozenset({'w', 'x', 'y', 'z'}): 'world'}

# Membership Operators: (in, not in)

In [ ]:
s=set("science")
print(s)
print('e'in s)#in this example,the string 'science' has two 'e' and 'c' character and the set() removes
              #each of theam
print('d'in s)

{'n', 's', 'e', 'c', 'i'}
True
False

# Set Comprehension:

In [ ]:
#Set comprehension is possible.
s = {x*x for x in range(8)}
print(s)#{0,1,4,9,16}

{0, 1, 4, 36, 9, 16, 49, 25}

# Set Objects won't support indexing and slicing:

In [ ]:
s={10,20,30,40}
print(s[0])# TypeError:'set'object does not support indexing
print(s[1:3])# TypeError: 'set' object is not subscriptable

TypeError: ignored

# Homework
 Q) Write a Program to eliminate Duplicates Present in the
  List?

Q) Write a Program to Print different Vowels Present in the
  given Word?(Using intersection method

In [ ]:
###Q 1)
data1=[10,20,30,30,40,50,50,60,70]
result=[]
for i in data1:
  if i not in result:
    result.append(i)

print(result)

[10, 20, 30, 40, 50, 60, 70]

**Q**2)

 We can achieve this using 2different ways

 •1)Traversing each character in a given string and check whether a character is a vowel or not

 •2)We can achieve this functionality using one of the python set function-intersection()

In [ ]:
#Example 1
#inptut
'''vowels=['a','e','i','o','u']
element=input("Enter any statement : ")
list1=[]
for x in element:
  if (x in vowels and x not list1):
    list1.append(x)
print("vowels present in given statement : ",list1)'''


#output
'''Enter any statement : yeotiwad
Vowels present in given statement:['e','o','i','a']'''

"Enter any statement : yeotiwad\nVowels present in given statement:['e','o','i','a']"

In [ ]:
#Example 2
vowels=['a','e','i','o','u']
element=input("Enter any statement : ")
data=set(element)
result=data.intersection(vowels)
print("vowels present in given statent :",result)

Enter any statement : yeotiwad sushil
vowels present in given statent : {'a', 'e', 'o', 'u', 'i'}

***UTF-8***

*This is specified in the meta tag

*Unicode is a characterset, UTF-8 is encoding

**Unicode is s list of characters with unique decimal number or code point.(A-Z),(0,9),(+,-,=,%)

**(FOR EXAMPLE A=65,B=66,C=67)

**This list of decimal numbers represent the string "hello";h:104 e:101 l:108 l:108 o:111

**UTF-8 encoding will store "hello" like this(binary);h:01101000 e:01100101 l:01101100 l:01101100 e:01101111

***ISO-8859-1 was the default character in HTML4.This charset suppoeted 256 different character coder.HTML4 supported UTF-8

***(FOE EXAMPLE=A=65,B=66,C=67)

***UTF-8 continues from the value 256 with more than 10000 different characters



***Operators***

     <!DOCTYPE html>

     <html lang="en">

     <head>

    <meta charset="utf-8">

    <meta name="viewpart">
     <content="width=device-width, initial-scale=1.0">
    <title>utf-8</title>

     </head>

     <body>

    <p> i am learning computer language</p>

    <p> मैं कंप्यूटर भाषा सीख रहा हूँ</p>

    <p> నేను కంప్యూటర్ భాష నేర్చుకుంటున్నాను</p>
    
    <p>میں کیمپیوٹر کی زبان سیکھ رہا ہوں </p>

     </body>

     </html>